@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: rgba(170, 167, 167, 0.411);
}


* {
    margin: 0;
  }


/* ///////////////////////////////////Starting of navigation bar//////////////////////////////////////////// */
.logo img{
    height: 100px;
    width: 100px;
    
  
  }
  nav{
    background-color: rgba(71, 70, 70, 0.411);
    padding-top:10px ;
    padding-left: 20px;
    padding-right:20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }
  
  nav a:hover{
    padding-bottom: 2px;
    text-shadow: 2px 4px #2f2f301d ;
  } 
  .navigation-links{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 50px;
      font-size: larger;
  }
  
  .navigation-links a{
      text-decoration: none;
      color: black;
      justify-content: space-evenly;
  }
  
  
  .location{
    margin-bottom: 100px;
  }
  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  
.top-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 200px;
    padding-top: 50px;

}

.top-part pre{
  font-family: 'Poppins', sans-serif;
  width: 100;
}

.top-part h1{
    font-weight:bolder;
    padding-left: 200px;
    padding-top: 100px;
    margin-bottom: 30px ;
}
.top-part img{
    padding-left: 200px;
    padding-top: 50px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: black;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    align-items: center;
}

.school-name {
    font-weight: bold;
}

.attend-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}





.top-part img{
  height: 300px;
  width: 400px;

}


