@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: rgba(170, 167, 167, 0.411);
}

* {
    margin: 0;
  }


/* ///////////////////////////////////Starting of navigation bar//////////////////////////////////////////// */
.logo img{
    height: 100px;
    width: 100px;
    
  
  }
  nav{
    background-color: rgba(170, 167, 167, 0.411);
    padding-top:10px ;
    padding-left: 20px;
    padding-right:20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
  }
  
  .req-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

  }



  .req-cards button{
    margin-top: 20px;
    margin-left:32%;
  }
  
  nav a:hover{
    padding-bottom: 2px;
    text-shadow: 2px 4px #2f2f301d ;
  } 
  
  .navigation-links{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 50px;
      font-size: larger;
  }
  
  .navigation-links a{
      text-decoration: none;
      color: black;
      justify-content: space-evenly;
  }
  
  
  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  

  

  /* ///////////////////////////////////Starting of Hero///////////////////////////////////////////////////////////////////////////////////////// */
  .hero{
    position: relative;
    height:100vh;
    width:98.93vw;
  background-image: url(Designs/Images/student.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
margin-bottom: 50px;
  }
  
  .hero::before{
    content: "";
     position: absolute; 
     inset: 0;
     background:linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
     z-index: 100 ;
  }  

 .overwrite{
    color: white;
    width: 40%;
    position: absolute;
    top: 60%;
    left: 10%;
    z-index: 101;
    font-size: 20px;
  }

  .overwrite h1{
    margin-bottom: 40px;
  }




.details{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px ;
}


 .details p{
  text-decoration: none;
 }


.details h2{
  text-align: center;
}

.foot-detail{
  display: flex;
  gap: 100px;

}
/* ////////////////////////////////////////Starting of Events/////////////////////////////////////////////////////// */
.card-container{
  place-content: center;
    margin: 100px 70px;
    display: grid;
    row-gap: 50px;
    column-gap: 100px;
    grid-template-columns: 350px 350px 350px;
    grid-auto-rows: 34rem;
}

.card-img{
  position: relative;
  height: 100px;
  height: 250px;
  overflow: hidden;
}

.card-img img{
  position: absolute;
  inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}


/* //////////////////////////////////Startin of the button css////////////////////////////////////////////////////////////////////////////////////////////// */
.apply-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.apply-button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  width: 150px;

}

.apply-button:hover {
  background-color: #45a049;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


















  /* /////////////////////////Starting of Footer/////////////////////////////////////////////////////////////////////////////////////////////////////// */

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top:  30px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }


  .first-part{
    display: flex;
    justify-content: center;
    gap: 700px;
  }

  .last-part{
    text-align: center;
  }

  .foot-links{
    display: flex;
    flex-direction:column ;
    gap: 10px;
  }

  .subscribe{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .subscribe input{
    width: 15rem;
    padding: 10px;
    border-radius: 20px;
    border: none;

  }
  
  .subscribe button{
    max-width: 5rem;
    border-radius: 10px;
    border: none;
    padding:10px;
    color: #333;
    font-weight: bolder;
  }

  /* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

  





















  